In [1]:
import numpy as np

In [2]:
import matplotlib.pyplot as plt

In [3]:
import pandas as pd

In [4]:
a = pd.read_csv(r"C:\Users\Nmngoyal\Desktop\Hospital\dataset_hospital.csv")
print(a)

    Hospital ID Hospital Name           Zone       State   District
0             1             A   Northen Zone   Rajasthan     Jaipur
1             2             B   Eastern Zone       Assam     Dispur
2             3             C  Southern Zone    Telegana        Hyd
3             4             D   Western Zone         Goa  North Goa
4             5             E   Northen Zone   Rajasthan   Bhilwara
5             6             F   Northen Zone      Punjab   Bhatinda
6             7             G   Northen Zone      Punjab   Bhatinda
7             8             H   Northen Zone   Rajasthan     Jaipur
8             9             I   Eastern Zone     Manipur     Imphal
9            10             J   Eastern Zone     Manipur     Ukhrul
10           11             K   Eastern Zone     Manipur     Ukhrul
11           12             L   Eastern Zone    Nagaland     Kohima
12           13             M   Eastern Zone    Nagaland     Kohima
13           14             N  Southern Zone      Kerala     kollam
14           15             O  Southern Zone   Karnataka  Bangalore
15           16             P   Western Zone         Goa  North Goa
16           17             Q   Western Zone         Goa  North Goa
17           18             R   Western Zone         Goa  South Goa
18           19             S   Western Zone     Gujarat  Ahemdabad
19           20             T   Western Zone     Gujarat  Ahemdabad
20           21             U   Western Zone     Gujarat      Surat
21           22             V   Western Zone     Gujarat      Surat
22           23             W   Western Zone  Maharastra     Mumbai
23           24             X   Western Zone  Maharastra     Mumbai
24           25             Y   Western Zone  Maharastra     Nagpur
25           26             Z   Western Zone  Maharastra     Nagpur

In [5]:
a.head(5)

   Hospital ID Hospital Name           Zone      State   District
0            1             A   Northen Zone  Rajasthan     Jaipur
1            2             B   Eastern Zone      Assam     Dispur
2            3             C  Southern Zone   Telegana        Hyd
3            4             D   Western Zone        Goa  North Goa
4            5             E   Northen Zone  Rajasthan   Bhilwara

In [6]:
a['Hospital ID']

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
Name: Hospital ID, dtype: int64

In [7]:
b = a.loc[a['Zone']== 'Western Zone'].count()[0]
print(b)

12

In [8]:
slices = [a.count('Western Zone'), a.count('Northen Zone'), a.count('Eastern Zone'), a.count('Southern Zone')]
labels = ['Western Zone', 'Northen Zone', 'Eastern Zone', 'Southern Zone']
plt.pie(slices,labels,colors= cols, startangle =90,shadow = True, exploe=(0,0.1,0,0))

ValueError: No axis named Western Zone for object type <class 'pandas.core.frame.DataFrame'>